<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body>
    <h2>글쓰기</h2>
    <form th:action="@{/boards/save}" method="post">
        writer: <input type="text" name="boardWriter"><br>
        pass: <input type="text" name="boardPass"><br>
        title: <input type="text" name="boardTitle"><br>
        contents: <textarea name="boardContents" cols="30" rows="7"></textarea> <br>
        <input type="submit" value="글작성">
    </form>
</body>
</html>